[General]
InstallPath = /var/www/camproxy
Debug = False

[Flask]
Host = 0.0.0.0
Port = 8888
SSLCertFile = ./conf/camproxy.crt
SSLKeyFile = ./conf/camproxy.key

[Authentication]
ClientSecretsFile = ./conf/client_secret.json
RequiredDomain = domain.com

[NXWitness]
MonitorURLFormatHalf = http://nxwitness:7001/ec2/cameraThumbnail?cameraId=%%s&imageFormat=JPEG&height=240
MonitorURLFormatFull = http://nxwitness:7001/ec2/cameraThumbnail?cameraId=%%s&imageFormat=JPEG&height=720
User = camproxy
Password = very-secure-password

